In [ ]:
pd 多维数据表 = np 多维数组 + 描述

其中

Series = 1darray + index
DataFrame = 2darray + index + columns

In [3]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame 可理解成是 Series 的容器，每一列都是一个 Series，或者 Series 是只有一列的 DataFrame。

### seris创建

In [4]:
data = np.array(['a','b','c','d'])
#自定义索引标签（即显示索引）
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

### 1.2 创建二维数据表结构DataFrame

In [5]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [7]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [8]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [9]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [10]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [11]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [14]:
data = {'Name': ['Jack', 'Lida', 'John', 'Helen'], 'Age': [28, 32, 43, 38], 'City': ['Beijing', 'Shanghai', 'Shenzhen', 'Hengshui'],
        'Salary': [22000, 19000, 12000, 3500]} 
df = pd.DataFrame(data)
df.index.names = ['ID']
df.to_csv('./data/person.csv', index=True)

In [15]:
df=pd.read_csv("./data/person.csv")
print(df.dtypes)
print (df)

ID         int64
Name      object
Age        int64
City      object
Salary     int64
dtype: object
   ID   Name  Age      City  Salary
0   0   Jack   28   Beijing   22000
1   1   Lida   32  Shanghai   19000
2   2   John   43  Shenzhen   12000
3   3  Helen   38  Hengshui    3500

### 操作整个数组

In [16]:
import pandas as pd
import numpy as np
#自定义函数
def adder(ele1,ele2):
   return ele1+ele2
#操作DataFrame
df = pd.DataFrame(np.random.randn(4,3),columns=['c1','c2','c3'])
#相加前
print(df)
#相加后
print(df.pipe(adder,3))

         c1        c2        c3
0  0.504342 -2.443310 -1.720794
1 -0.744577 -0.821318 -0.458652
2  0.557769  0.820833  0.029194
3 -0.609370 -0.519713  0.584975
         c1        c2        c3
0  3.504342  0.556690  1.279206
1  2.255423  2.178682  2.541348
2  3.557769  3.820833  3.029194
3  2.390630  2.480287  3.584975

In [17]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean)
# 默认按列操作，计算每一列均值
print(df.apply(np.mean))
# 传递轴参 axis=1， 表示逐行进行操作，示例如下：
print (df.apply(np.mean,axis=1))
# 求每一列中，最大值与最小值之差。示例如下：
print(df.apply(lambda x: x.max() - x.min()))

col1   -0.017633
col2    0.353416
col3    0.290062
dtype: float64
0   -0.406629
1    1.106629
2    0.014299
3   -0.079313
4    0.408090
dtype: float64
col1    0.986418
col2    3.200248
col3    3.179408
dtype: float64

In [18]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
#自定义函数lambda函数
print(df['col1'].map(lambda x:x*100))

0   -148.486560
1   -127.579825
2      4.500568
3    -76.659328
4    -12.616733
Name: col1, dtype: float64

## 5. 数据表的遍历与排序

In [19]:
import pandas as pd
import numpy as np
N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })
print(df)
for col in df:# 只能拿到cols
   print (col)

            A     x         y       C           D
0  2016-01-01   0.0  0.991648  Medium   96.214069
1  2016-01-02   1.0  0.402222  Medium   88.166062
2  2016-01-03   2.0  0.521628  Medium  100.585595
3  2016-01-04   3.0  0.793782  Medium   95.902297
4  2016-01-05   4.0  0.202134  Medium  112.048606
5  2016-01-06   5.0  0.998944    High   96.312252
6  2016-01-07   6.0  0.555722  Medium  106.874340
7  2016-01-08   7.0  0.621604    High  125.620048
8  2016-01-09   8.0  0.292432     Low  107.523976
9  2016-01-10   9.0  0.641441     Low  113.738827
10 2016-01-11  10.0  0.939479     Low  114.670259
11 2016-01-12  11.0  0.434525     Low   93.126967
12 2016-01-13  12.0  0.979398  Medium  100.308679
13 2016-01-14  13.0  0.845465  Medium   94.795358
14 2016-01-15  14.0  0.920763  Medium   89.827510
15 2016-01-16  15.0  0.647385  Medium   97.926192
16 2016-01-17  16.0  0.752215  Medium   89.778852
17 2016-01-18  17.0  0.818407     Low  113.920861
18 2016-01-19  18.0  0.131485    High   96.731964
19 2016-01-20  19.0  0.803927     Low   94.300348
A
x
y
C
D

### items默认按列便利

In [20]:
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df)
for key,value in df.items():
   print (key,value)

       col1      col2      col3
0 -0.157844  0.790661 -0.026089
1 -0.528686  1.251396 -1.504709
2  0.825822  1.477662  1.398360
3 -0.371103 -0.063517 -0.125706
col1 0   -0.157844
1   -0.528686
2    0.825822
3   -0.371103
Name: col1, dtype: float64
col2 0    0.790661
1    1.251396
2    1.477662
3   -0.063517
Name: col2, dtype: float64
col3 0   -0.026089
1   -1.504709
2    1.398360
3   -0.125706
Name: col3, dtype: float64

### iterrowa按行便利

In [21]:
df = pd.DataFrame(np.random.randn(3,3),columns = ['col1','col2','col3'])
print(df)
for row_index,row in df.iterrows():
    print (row_index,row)

       col1      col2      col3
0 -1.808912  0.984883 -0.735242
1 -0.921144 -0.562938 -0.665658
2  0.647128 -0.469045  0.252708
0 col1   -1.808912
col2    0.984883
col3   -0.735242
Name: 0, dtype: float64
1 col1   -0.921144
col2   -0.562938
col3   -0.665658
Name: 1, dtype: float64
2 col1    0.647128
col2   -0.469045
col3    0.252708
Name: 2, dtype: float64

### 5.2 DataFrame的排序

In [26]:
import pandas as pd
import numpy as np
#行标签乱序排列，列标签乱序排列
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,6,4,2,3,5,9,8,0,7],columns=['col2','col1'])
print(unsorted_df)

       col2      col1
1 -1.568348  0.119104
6 -1.620628 -1.105766
4 -0.557338 -0.981230
2  1.216544 -0.629836
3 -0.951659  0.809899
5 -0.875236 -0.930715
9 -0.006118  0.888033
8  0.482597 -0.991638
0  0.355964  0.586834
7 -0.206282  1.511877

In [27]:
sorted_df=unsorted_df.sort_index()
print(sorted_df)

       col2      col1
0  0.355964  0.586834
1 -1.568348  0.119104
2  1.216544 -0.629836
3 -0.951659  0.809899
4 -0.557338 -0.981230
5 -0.875236 -0.930715
6 -1.620628 -1.105766
7 -0.206282  1.511877
8  0.482597 -0.991638
9 -0.006118  0.888033

### 按照值排序

In [28]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1')
print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

## 6. 缺失值处理及去重

In [29]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'], columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)

        one       two     three
a -1.117065  0.160309 -0.099218
b       NaN       NaN       NaN
c  1.646441  0.578028  0.040770
d       NaN       NaN       NaN
e -0.958161 -2.354585 -0.289931
f  0.069457 -1.371819  1.268439
g       NaN       NaN       NaN
h -0.206200  0.999831  0.957831

### 检测缺失值

In [31]:
print(df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

### 向前填充&向后填充、

In [32]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print(df.fillna(method='bfill'))

        one       two     three
a -0.862096 -0.925845  0.140661
b       NaN       NaN       NaN
c -1.113496 -0.541945  0.173065
d       NaN       NaN       NaN
e -0.465042  0.161883  1.234518
f  1.018986 -0.422773 -0.747841
g       NaN       NaN       NaN
h  0.320255 -0.539217  0.108263
        one       two     three
a -0.862096 -0.925845  0.140661
b -1.113496 -0.541945  0.173065
c -1.113496 -0.541945  0.173065
d -0.465042  0.161883  1.234518
e -0.465042  0.161883  1.234518
f  1.018986 -0.422773 -0.747841
g  0.320255 -0.539217  0.108263
h  0.320255 -0.539217  0.108263

### replace

In [33]:
df = pd.DataFrame({'one':[10,20,30,40,50,666], 'two':[99,0,30,40,50,60]})
#使用replace()方法
print (df.replace({99:10,666:60,0:20}))

   one  two
0   10   10
1   20   20
2   30   30
3   40   40
4   50   50
5   60   60

In [34]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
#删除缺失值
print (df.dropna(axis = 0))

        one       two     three
a -0.506914  0.101204 -0.829288
b       NaN       NaN       NaN
c -0.033912  1.645729  0.190106
d       NaN       NaN       NaN
e  0.864203  1.496110  0.058129
f -0.893304 -1.214676 -0.637988
g       NaN       NaN       NaN
h -0.413379  1.159656  0.155591
        one       two     three
a -0.506914  0.101204 -0.829288
c -0.033912  1.645729  0.190106
e  0.864203  1.496110  0.058129
f -0.893304 -1.214676 -0.637988
h -0.413379  1.159656  0.155591

## 7. 数据表的合并与连接

In [35]:
import pandas as pd 
left = pd.DataFrame({ 
   'id':[1,2,3,4], 
   'Name': ['Smith', 'Maiki', 'Hunter', 'Hilen'], 
   'subject_id':['sub1','sub2','sub4','sub6']}) 
right = pd.DataFrame({ 
    'id':[1,2,3,4], 
   'Name': ['William', 'Albert', 'Tony', 'Allen'], 
   'subject_id':['sub2','sub4','sub3','sub6']}) 
print (left) 
print (right)

   id    Name subject_id
0   1   Smith       sub1
1   2   Maiki       sub2
2   3  Hunter       sub4
3   4   Hilen       sub6
   id     Name subject_id
0   1  William       sub2
1   2   Albert       sub4
2   3     Tony       sub3
3   4    Allen       sub6

In [36]:
left = pd.DataFrame({ 
   'id':[1,2,3,4], 
   'Name': ['Smith', 'Maiki', 'Hunter', 'Hilen'], 
   'subject_id':['sub1','sub2','sub4','sub6']}) 
right = pd.DataFrame({ 
    'id':[1,2,3,4], 
   'Name': ['Bill', 'Lucy', 'Jack', 'Mike'], 
   'subject_id':['sub2','sub4','sub3','sub6']}) 
print(left)
print(right)
#以left侧的subject_id为键
print(pd.merge(left,right,on='subject_id',how="left"))

   id    Name subject_id
0   1   Smith       sub1
1   2   Maiki       sub2
2   3  Hunter       sub4
3   4   Hilen       sub6
   id  Name subject_id
0   1  Bill       sub2
1   2  Lucy       sub4
2   3  Jack       sub3
3   4  Mike       sub6
   id_x  Name_x subject_id  id_y Name_y
0     1   Smith       sub1   NaN    NaN
1     2   Maiki       sub2   1.0   Bill
2     3  Hunter       sub4   2.0   Lucy
3     4   Hilen       sub6   4.0   Mike

### 7.2 连接

In [38]:
import pandas as pd
a= pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
b= pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
               )
#连接a与b
print(pd.concat([a,b]))

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [39]:
a= pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
b= pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D1', 'D2', 'D5', 'D6']},
                     index=[4,5,6,7])
#沿着 axis=0，使用 apppend()方法连接a与b
print(a.append(b))

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D1
5  A5  B5  C5  D2
6  A6  B6  C6  D5
7  A7  B7  C7  D6

## 8. Pandas的分组与聚合

In [41]:
data = {'Name': ['John', 'Helen', 'Sona', 'Ella'],
   'score': [82, 98, 91, 87],
   'option_course': ['C#','Python','Java','C']}
df = pd.DataFrame(data)
#查看分组
grouped=df.groupby('score')
for label, option_course in grouped:
#其中key代表分组后字典的键，也就是score
    print("label is {}".format(label))
#字典对应的值选修的科目
    print("option_course is \n{}".format(option_course))

label is 82
option_course is
   Name  score option_course
0  John     82            C#
label is 87
option_course is
   Name  score option_course
3  Ella     87             C
label is 91
option_course is
   Name  score option_course
2  Sona     91          Java
label is 98
option_course is
    Name  score option_course
1  Helen     98        Python

In [42]:
print(df.groupby(['Name','score']).groups)

{('Ella', 87): Int64Index([3], dtype='int64'), ('Helen', 98): Int64Index([1], dtype='int64'), ('John', 82): Int64Index([0], dtype='int64'), ('Sona', 91): Int64Index([2], dtype='int64')}